<div class="col-md-6 col-md-offset-3">
	<div class="row">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h1> Editar</h1>

			</div>
			<div class="panel-body">

				<%= image_tag @pin.image.url(:medium) %>
				<%= render 'form' %>



			</div>

			<div class="panel-footer">
				<%= link_to "Atras", pin_path  %>
			</div>

		</div>


	</div>
	
</div> 


